@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("openType");
}
@font-face {
  font-family: "Avenir-Bold";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("openType");
}
@font-face {
  font-family: "Avenir-Demi";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("openType");
}
:root {
  font-family: "Avenir";
  font-size: 20px;
}

body {
  margin: 0px;
  padding: 0px;
}

html {
  margin: 0px;
  padding: 0px;
}

.head {
  background-color: #323232;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}
.head__logo {
  align-self: center;
  text-align: center;
}
.head__logo__image {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 180px;
}
.head__nav__navbar {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.head__nav__navbar__item {
  text-align: center;
  margin: 0px;
  padding: 0px 0px 20px 0px;
  flex-grow: 1;
}
.head__nav__navbar__item--active {
  border-bottom: 5px solid;
}
.head__hero {
  height: 300px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0px;
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position-y: -20px;
  display: flex;
  align-items: center;
  font-family: "Avenir-Demi";
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  margin-top: 16px;
  padding-bottom: 16px;
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: flex;
}
@media (min-width: 1280px) {
  .footer__social {
    flex-wrap: nowrap;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__social {
    flex-wrap: nowrap;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .footer__social {
    flex-wrap: wrap;
  }
}
.footer__social__title {
  margin: 0px;
}
.footer__social__media {
  display: flex;
  margin-left: 32px;
  margin-right: 32px;
  align-items: center;
}
.footer__social__media__icon {
  margin-right: 56px;
  height: 40px;
}
.footer__social__logo {
  flex-grow: 1;
  margin-left: 32px;
  margin-right: 32px;
  text-align: right;
}
.footer__social__logo__image {
  width: 180px;
  padding: 0px;
}
.footer__contactList {
  display: flex;
}
@media (min-width: 1280px) {
  .footer__contactList {
    flex-wrap: nowrap;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__contactList {
    flex-wrap: nowrap;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .footer__contactList {
    flex-wrap: wrap;
  }
}
.footer__contactList__contact {
  flex-grow: 1;
}

.type__siteTitle {
  padding-left: 32px;
  padding-right: 32px;
  font-weight: 400;
}
@media (min-width: 1280px) {
  .type__siteTitle {
    font-size: 3.75rem;
    font-family: "Avenir";
    line-height: 1.13;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .type__siteTitle {
    font-size: 3.75rem;
    font-family: "Avenir";
    line-height: 1.13;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .type__siteTitle {
    font-size: 1.5rem;
    font-family: "Avenir";
    line-height: 1.33;
  }
}

.type__pageHeader {
  padding-left: 32px;
  padding-right: 32px;
}
@media (min-width: 1280px) {
  .type__pageHeader {
    font-size: 3.75rem;
    font-family: "Avenir-Demi";
    line-height: 1.13;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .type__pageHeader {
    font-size: 3.75rem;
    font-family: "Avenir-Demi";
    line-height: 1.13;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .type__pageHeader {
    font-size: 1.5rem;
    font-family: "Avenir-Demi";
    line-height: 1.33;
    padding-top: 24px;
    padding-bottom: 16px;
  }
}

.type__sectionHeader {
  padding-left: 32px;
  padding-right: 32px;
}
@media (min-width: 1280px) {
  .type__sectionHeader {
    font-size: 2.25rem;
    font-family: "Avenir-Demi";
    line-height: 1.22;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .type__sectionHeader {
    font-size: 2.25rem;
    font-family: "Avenir-Demi";
    line-height: 1.22;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .type__sectionHeader {
    font-size: 1.5rem;
    font-family: "Avenir-Demi";
    line-height: 1.33;
    padding-top: 24px;
    padding-bottom: 16px;
  }
}

.type__subHeader {
  padding-left: 32px;
  padding-right: 32px;
}
@media (min-width: 1280px) {
  .type__subHeader {
    font-size: 1.5rem;
    font-family: "Avenir-Demi";
    line-height: 1.33;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .type__subHeader {
    font-size: 1.5rem;
    font-family: "Avenir-Demi";
    line-height: 1.33;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .type__subHeader {
    font-size: 0.875rem;
    font-family: "Avenir-Demi";
    line-height: 1.57;
    padding-top: 24px;
    padding-bottom: 16px;
  }
}

.type__bodyText {
  padding-left: 32px;
  padding-right: 32px;
}
@media (min-width: 1280px) {
  .type__bodyText {
    font-size: 0.875rem;
    line-height: 1.57;
    font-family: "Avenir";
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .type__bodyText {
    font-size: 0.875rem;
    line-height: 1.57;
    font-family: "Avenir";
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .type__bodyText {
    font-size: 0.8125rem;
    line-height: 1.38;
    font-family: "Avenir";
  }
}

.type__footerText {
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 0px;
}
@media (min-width: 1280px) {
  .type__footerText {
    font-size: 0.875rem;
    line-height: 1.42;
    font-family: "Avenir";
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .type__footerText {
    font-size: 0.875rem;
    line-height: 1.42;
    font-family: "Avenir";
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .type__footerText {
    font-size: 0.8125rem;
    line-height: 1.38;
    font-family: "Avenir";
  }
}

@media (min-width: 1280px) {
  .type__label {
    font-size: 0.75rem;
    line-height: 0.6;
    font-family: "Avenir";
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .type__label {
    font-size: 0.75rem;
    line-height: 0.6;
    font-family: "Avenir";
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .type__label {
    font-size: 0.625rem;
    line-height: 2;
    font-family: "Avenir";
  }
}

.band {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.band__imgCont {
  align-self: center;
  height: 270px;
  background-image: url("../assets/images/band.jpg");
  background-size: cover;
  background-position-y: -70px;
  margin-left: 32px;
  margin-right: 32px;
}
.band__title {
  margin: 0px;
}

.columns {
  display: flex;
}
@media (min-width: 1280px) {
  .columns {
    flex-wrap: nowrap;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .columns {
    flex-wrap: nowrap;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    flex-wrap: wrap;
  }
}
.columns__column {
  flex-grow: 1;
}

.gallery {
  background-color: #FAFAFA;
  margin: 0px;
}
.gallery__title {
  margin: 0px;
}
.gallery__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 1280px) {
  .gallery__cards {
    gap: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .gallery__cards {
    gap: 24px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .gallery__cards {
    gap: 16px;
  }
}
@media (min-width: 1280px) {
  .gallery__cards__card {
    width: 400px;
    padding-left: auto;
    padding-right: auto;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .gallery__cards__card {
    width: 300px;
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .gallery__cards__card {
    width: 100%;
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (min-width: 1280px) {
  .gallery__cards__card__image {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .gallery__cards__card__image {
    width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .gallery__cards__card__image {
    width: 100%;
  }
}/*# sourceMappingURL=landing.css.map */