@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("openType");
}
@font-face {
  font-family: "Avenir-Bold";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("openType");
}
@font-face {
  font-family: "Avenir-Demi";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("openType");
}
:root {
  font-family: "Avenir";
}

@media (min-width: 1280px) {
  .type__pageHeader {
    font-size: 3.75rem;
    font-family: "Avenir-Demi";
    line-height: 1.13;
    padding-top: 36px;
    padding-bottom: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .type__pageHeader {
    font-size: 3.75rem;
    font-family: "Avenir-Demi";
    line-height: 1.13;
    padding-top: 24px;
    padding-bottom: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .type__pageHeader {
    font-size: 1.5rem;
    font-family: "Avenir-Demi";
    line-height: 1.33;
    padding-top: 24px;
    padding-bottom: 16px;
  }
}
.type__pageHeader--footer {
  padding: 0px;
  margin: 0px;
}

@media (min-width: 1280px) {
  .type__sectionHeader {
    font-size: 2.25rem;
    font-family: "Avenir-Demi";
    line-height: 1.22;
    padding-top: 36px;
    padding-bottom: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .type__sectionHeader {
    font-size: 2.25rem;
    font-family: "Avenir-Demi";
    line-height: 1.22;
    padding-top: 24px;
    padding-bottom: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .type__sectionHeader {
    font-size: 1.5rem;
    font-family: "Avenir-Demi";
    line-height: 1.33;
    padding-top: 24px;
    padding-bottom: 16px;
  }
}
.type__sectionHeader--footer {
  padding: 0px;
  margin: 0px;
}

@media (min-width: 1280px) {
  .type__subHeader {
    font-size: 1.5rem;
    font-family: "Avenir-Demi";
    line-height: 1.33;
    padding-top: 36px;
    padding-bottom: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .type__subHeader {
    font-size: 1.5rem;
    font-family: "Avenir-Demi";
    line-height: 1.33;
    padding-top: 24px;
    padding-bottom: 16px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .type__subHeader {
    font-size: 0.875rem;
    font-family: "Avenir-Demi";
    line-height: 1.57;
    padding-top: 24px;
    padding-bottom: 16px;
  }
}
.type__subHeader--footer {
  padding: 0px;
  margin: 0px;
}
@media (min-width: 1280px) {
  .type__subHeader--footer {
    font-size: 1rem;
    font-family: "Avenir-Demi";
    line-height: 1.33;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .type__subHeader--footer {
    font-size: 1rem;
    font-family: "Avenir";
    line-height: 1.33;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .type__subHeader--footer {
    font-size: 0.875rem;
    font-family: "Avenir-Demi";
    line-height: 1.57;
  }
}

@media (min-width: 1280px) {
  .type__bodyText {
    font-size: 0.875rem;
    line-height: 1.57;
    font-family: "Avenir";
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .type__bodyText {
    font-size: 0.875rem;
    line-height: 1.57;
    font-family: "Avenir";
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .type__bodyText {
    font-size: 0.8125rem;
    line-height: 1.38;
    font-family: "Avenir";
  }
}

.type__footerText {
  margin-bottom: 0px;
}
@media (min-width: 1280px) {
  .type__footerText {
    font-size: 0.875rem;
    line-height: 1.42;
    font-family: "Avenir";
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .type__footerText {
    font-size: 0.875rem;
    line-height: 1.42;
    font-family: "Avenir";
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .type__footerText {
    font-size: 0.8125rem;
    line-height: 1.38;
    font-family: "Avenir";
  }
}

@media (min-width: 1280px) {
  .type__label {
    font-size: 0.75rem;
    line-height: 0.6;
    font-family: "Avenir";
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .type__label {
    font-size: 0.75rem;
    line-height: 0.6;
    font-family: "Avenir";
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .type__label {
    font-size: 0.625rem;
    line-height: 2;
    font-family: "Avenir";
  }
}

@keyframes cardHover {
  100% {
    box-shadow: -5px -5px 4px rgba(0, 0, 0, 0.4);
    transform: translate(5px, 5px) scale(1.05, 1.05);
  }
}
@keyframes reveal-side {
  from {
    opacity: 0;
    transform: translate(-75%, 0px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes reveal-up {
  from {
    opacity: 0;
    transform: translate(0px, 30%);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes shiftBackground {
  0% {
    background-position-y: -690px;
  }
  100% {
    background-position-y: 0px;
  }
}
@keyframes buttonHover {
  100% {
    transform: scale(1.2);
    background-color: #323232;
    color: #AFAFAF;
  }
}
@keyframes navHover {
  100% {
    color: #FFFFFF;
    text-decoration: underline;
  }
}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  margin: 0px;
  padding: 0px;
}

.head {
  background-color: #323232;
  color: #FFFFFF;
  display: flex;
  margin: 0px;
}
@media (min-width: 1280px) {
  .head {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .head {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .head {
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.head__logo {
  text-align: center;
}
.head__logo__image {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 180px;
}
@media (min-width: 1280px) {
  .head__nav {
    padding-left: 24px;
    flex-grow: 0.25;
    align-self: flex-end;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .head__nav {
    padding-left: 24px;
    flex-grow: 0.25;
    align-self: flex-end;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .head__nav {
    flex-grow: 0;
  }
}
.head__nav__navbar {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.head__nav__navbar__item {
  text-align: center;
  margin: 0px;
  padding: 0px 0px 20px 0px;
  flex-grow: 1;
}
.head__nav__navbar__item--active {
  border-bottom: 5px solid;
}

.hero {
  height: 55vw;
  color: #FFFFFF;
  margin: 0px;
  background-image: url("../assets/images/hero-bio.jpg"), linear-gradient(rgba(50, 50, 50, 0.5019607843), rgba(50, 50, 50, 0.5019607843));
  background-blend-mode: overlay;
  background-size: cover;
  background-position-y: -20px;
  display: flex;
  align-items: center;
}
@media (min-width: 1280px) {
  .hero {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero {
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .hero {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.hero__bandTitle {
  font-family: "Avenir-Demi";
  padding: 0px;
  margin: 0px;
}

.footer {
  margin-top: 16px;
  padding-top: 24px;
  padding-bottom: 16px;
  background-color: #323232;
  color: #FFFFFF;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (min-width: 1280px) {
  .footer {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .footer {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 1280px) {
  .footer {
    row-gap: 24px;
    gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer {
    row-gap: 24px;
    gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .footer {
    row-gap: 16px;
    gap: 16px;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
.footer__social {
  display: flex;
}
@media (min-width: 1280px) {
  .footer__social {
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 24px;
         column-gap: 24px;
    row-gap: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__social {
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 24px;
         column-gap: 24px;
    row-gap: 24px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .footer__social {
    flex-direction: column;
    flex-wrap: nowrap;
    -moz-column-gap: 16px;
         column-gap: 16px;
    row-gap: 16px;
  }
}
.footer__social__title {
  background-color: none;
}
.footer__social__media {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer__social__media__icon {
  height: 25px;
}
.footer__contactList {
  display: flex;
  justify-content: flex-start;
}
@media (min-width: 1280px) {
  .footer__contactList {
    flex-wrap: nowrap;
    gap: 24px;
    flex-basis: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__contactList {
    flex-wrap: nowrap;
    gap: 24px;
    flex-basis: 100%;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .footer__contactList {
    flex-wrap: wrap;
    gap: 16px;
  }
}
.footer__contactList__contact {
  background-color: none;
}
@media (min-width: 1280px) {
  .footer__logo {
    order: 0;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__logo {
    order: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .footer__logo {
    order: 1;
    padding-top: 24px;
  }
}
.footer__logo__image {
  padding-top: 0px;
}
@media (min-width: 1280px) {
  .footer__logo__image {
    width: 120px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__logo__image {
    width: 120px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .footer__logo__image {
    width: 120px;
  }
}
.footer__copyright {
  flex-basis: 100%;
  padding: 0px;
  margin: 0px;
  order: 2;
}

.band {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.band__imgCont {
  background-image: url("../assets/images/band.jpg");
  background-size: cover;
  background-position-y: -35px;
  background-position-x: 0px;
  view-timeline-name: --revealing-element;
  view-timeline-axis: block;
}
@media (min-width: 1280px) {
  .band__imgCont {
    height: 40vw;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .band__imgCont {
    height: 45vw;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .band__imgCont {
    height: 50vw;
  }
}
@media (min-width: 1280px) {
  .band__imgCont {
    animation: linear reveal-up both;
    animation-timeline: --revealing-element;
    animation-range: entry 50% cover 40%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .band__imgCont {
    animation: linear reveal-side both;
    animation-timeline: --revealing-element;
    animation-range: entry 50% cover 30%;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .band__imgCont {
    animation: linear reveal-side both;
    animation-timeline: --revealing-element;
    animation-range: entry 50% cover 30%;
  }
}
@media (min-width: 1280px) {
  .band__imgCont {
    margin-left: 17%;
    margin-right: 17%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .band__imgCont {
    margin-left: 80px;
    margin-right: 80px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .band__imgCont {
    margin-left: 16px;
    margin-right: 16px;
  }
}
.band__imgCont__image {
  width: 100%;
}
.band__title {
  margin-top: 0px;
  margin-bottom: 0px;
}
@media (min-width: 1280px) {
  .band__title {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .band__title {
    margin-left: 48px;
    margin-right: 48px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .band__title {
    margin-left: 16px;
    margin-right: 16px;
  }
}
.band__quote {
  padding: 0px;
  view-timeline-name: --revealing-element;
  view-timeline-axis: block;
}
@media (min-width: 1280px) {
  .band__quote {
    animation: linear reveal-up both;
    animation-timeline: --revealing-element;
    animation-range: entry 50% cover 40%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .band__quote {
    animation: linear reveal-side both;
    animation-timeline: --revealing-element;
    animation-range: entry 50% cover 30%;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .band__quote {
    animation: linear reveal-side both;
    animation-timeline: --revealing-element;
    animation-range: entry 50% cover 30%;
  }
}
@media (min-width: 1280px) {
  .band__quote {
    margin-left: 17%;
    margin-right: 17%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .band__quote {
    margin-left: 80px;
    margin-right: 80px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .band__quote {
    margin-left: 16px;
    margin-right: 16px;
  }
}
.band__quote__person {
  padding: 0px;
  font-family: "Avenir-Demi";
  view-timeline-name: --revealing-element;
  view-timeline-axis: block;
}
@media (min-width: 1280px) {
  .band__quote__person {
    animation: linear reveal-up both;
    animation-timeline: --revealing-element;
    animation-range: entry 50% cover 40%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .band__quote__person {
    animation: linear reveal-side both;
    animation-timeline: --revealing-element;
    animation-range: entry 50% cover 30%;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .band__quote__person {
    animation: linear reveal-side both;
    animation-timeline: --revealing-element;
    animation-range: entry 50% cover 30%;
  }
}
@media (min-width: 1280px) {
  .band__quote__person {
    margin-left: 17%;
    margin-right: 17%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .band__quote__person {
    margin-left: 80px;
    margin-right: 80px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .band__quote__person {
    margin-left: 16px;
    margin-right: 16px;
  }
}

.bio {
  padding: 0px;
  margin: 0px;
  view-timeline-name: --revealing-element;
  view-timeline-axis: block;
}
@media (min-width: 1280px) {
  .bio {
    animation: linear reveal-up both;
    animation-timeline: --revealing-element;
    animation-range: entry 50% cover 40%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bio {
    animation: linear reveal-side both;
    animation-timeline: --revealing-element;
    animation-range: entry 50% cover 30%;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .bio {
    animation: linear reveal-side both;
    animation-timeline: --revealing-element;
    animation-range: entry 50% cover 30%;
  }
}
@media (min-width: 1280px) {
  .bio {
    margin-left: 17%;
    margin-right: 17%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bio {
    margin-left: 80px;
    margin-right: 80px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .bio {
    margin-left: 16px;
    margin-right: 16px;
  }
}
.bio__title {
  margin: 0px;
}
.bio__columns {
  display: flex;
}
@media (min-width: 1280px) {
  .bio__columns {
    flex-wrap: nowrap;
    gap: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .bio__columns {
    flex-wrap: nowrap;
    gap: 24px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .bio__columns {
    flex-wrap: wrap;
    gap: 16px;
  }
}
.bio__columns__column {
  flex-grow: 1;
}

.gallery {
  background-color: #FAFAFA;
  margin: 0px;
}
@media (min-width: 1280px) {
  .gallery__title {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .gallery__title {
    margin-left: 48px;
    margin-right: 48px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .gallery__title {
    margin-left: 16px;
    margin-right: 16px;
  }
}
.gallery__cards {
  display: grid;
  max-width: 1280px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media (min-width: 1280px) {
  .gallery__cards {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .gallery__cards {
    margin-left: 48px;
    margin-right: 48px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .gallery__cards {
    margin-left: 16px;
    margin-right: 16px;
  }
}
@media (min-width: 1280px) {
  .gallery__cards {
    grid-template-columns: auto auto auto;
    -moz-column-gap: 24px;
         column-gap: 24px;
    row-gap: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .gallery__cards {
    grid-template-columns: auto auto auto;
    -moz-column-gap: 24px;
         column-gap: 24px;
    row-gap: 24px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .gallery__cards {
    grid-template-columns: auto;
    -moz-column-gap: 16px;
         column-gap: 16px;
    row-gap: 16px;
  }
}
.gallery__cards__card {
  view-timeline-name: --revealing-element;
  view-timeline-axis: block;
}
@media (min-width: 1280px) {
  .gallery__cards__card {
    animation: linear reveal-up both;
    animation-timeline: --revealing-element;
    animation-range: entry 50% cover 40%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .gallery__cards__card {
    animation: linear reveal-side both;
    animation-timeline: --revealing-element;
    animation-range: entry 50% cover 30%;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .gallery__cards__card {
    animation: linear reveal-side both;
    animation-timeline: --revealing-element;
    animation-range: entry 50% cover 30%;
  }
}
.gallery__cards__card:hover {
  animation: cardHover;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}
.gallery__cards__card__image {
  width: 100%;
}/*# sourceMappingURL=landing.css.map */