@use 'mixins' as *;
@use 'variables' as *;
@use 'colors' as *;

@font-face{
    font-family: 'Avenir';
    src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format('openType');
}

@font-face{
    font-family: 'Avenir-Bold';
    src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format('openType');
}
@font-face{
    font-family: 'Avenir-Demi';
    src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format('openType');
}

:root {
    font-family: 'Avenir';
}

.type__linknostyle{
    text-decoration: none;
    color: $colPrimary-White;
    &:visited{
        text-decoration: none;
        color: $colPrimary-White;
    }
    &:hover{
        animation: navHover;
        animation-duration: 0.15s;
        animation-iteration-count: 1;
        animation-direction: alternate;
    }
}

.type__pageHeader{

    @include displayDesktop{
        font-size: 3.75rem;
        font-family: 'Avenir-Demi';
        line-height: 1.13;
        padding-top: $pad-desktop-header_before;
        padding-bottom: $pad-desktop-header_after;
    }

    @include displayTablet{
        font-size: 3.75rem;
        font-family: 'Avenir-Demi';
        line-height: 1.13;
        padding-top: $pad-tablet-header_before;
        padding-bottom: $pad-tablet-header_after;
    }

    @include displayMobile{
        font-size: 1.5rem;
        font-family: 'Avenir-Demi';
        line-height: 1.33;
        padding-top: $pad-mobile-header_before;
        padding-bottom: $pad-mobile-header_after;
    }
    &--footer{
        padding: 0px;
        margin: 0px;
    }
}

.type__sectionHeader{

    @include displayDesktop{
        font-size: 2.25rem;
        font-family: 'Avenir-Demi';
        line-height: 1.22;
        padding-top: $pad-desktop-header_before;
        padding-bottom: $pad-desktop-header_after;
    }

    @include displayTablet{
        font-size: 2.25rem;
        font-family: 'Avenir-Demi';
        line-height: 1.22;
        padding-top: $pad-tablet-header_before;
        padding-bottom: $pad-tablet-header_after;
    }

    @include displayMobile{
        font-size: 1.5rem;
        font-family: 'Avenir-Demi';
        line-height: 1.33;
        padding-top: $pad-mobile-header_before;
        padding-bottom: $pad-mobile-header_after;
    }

    &--footer{
        padding: 0px;
        margin: 0px;
    }
}

.type__subHeader{
    @include displayDesktop{
        font-size: 1.5rem;
        font-family: 'Avenir-Demi';
        line-height: 1.33;
        padding-top: $pad-desktop-header_before;
        padding-bottom: $pad-desktop-header_after;
    }

    @include displayTablet{
        font-size: 1.5rem;
        font-family: 'Avenir-Demi';
        line-height: 1.33;
        padding-top: $pad-tablet-header_before;
        padding-bottom: $pad-tablet-header_after;
    }

    @include displayMobile{
        font-size: 0.875rem;
        font-family: 'Avenir-Demi';
        line-height: 1.57;
        padding-top: $pad-mobile-header_before;
        padding-bottom: $pad-mobile-header_after;
    }

    &--footer{
        padding: 0px;
        margin: 0px;

        @include displayDesktop{
            font-size: 1.0rem;
            font-family: 'Avenir-Demi';
            line-height: 1.33;
        }
    
        @include displayTablet{
            font-size: 1.0rem;
            font-family: 'Avenir';
            line-height: 1.33;
        }
    
        @include displayMobile{
            font-size: 0.875rem;
            font-family: 'Avenir-Demi';
            line-height: 1.57;
        }
    }
}

.type__bodyText {

    @include displayDesktop{
        font-size: 0.875rem;
        line-height: 1.57;
        font-family: 'Avenir';
    }

    @include displayTablet{
        font-size: 0.875rem;
        line-height: 1.57;
        font-family: 'Avenir';
    }

    @include displayMobile{
        font-size: 0.8125rem;
        line-height: 1.38;
        font-family: 'Avenir';
    }
}

.type__footerText {
    margin-bottom: 0px;
    
    @include displayDesktop{
        font-size: 0.875rem;
        line-height: 1.42;
        font-family: 'Avenir';
    }

    @include displayTablet{
        font-size: 0.875rem;
        line-height: 1.42;
        font-family: 'Avenir';
    }

    @include displayMobile{
        font-size: 0.8125rem;
        line-height: 1.38;
        font-family: 'Avenir';
    }
}

.type__label{
    color: $colPrimary-Silver;
    margin: 0px;
    @include displayDesktop{
        font-size: 0.75rem;
        line-height: 0.6;
        font-family: 'Avenir-Demi';
    }
    @include displayTablet{
        font-size: 0.75rem;
        line-height: 0.6;
        font-family: 'Avenir-Demi';
    }
    @include displayMobile{
        font-size: 0.625rem;
        line-height: 2;
        font-family: 'Avenir-Demi';
    }
}

.type__inputText{
    font-family: 'Avenir';
    background-color: $colSecondary-Albaster;
    border-color: $colSecondary-Mercury;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    @include displayDesktop{
        min-height: 1rem;
        padding: $pad-L3;
    }
    @include displayTablet{
        min-height: 1rem;
        padding: $pad-L3;
    }
    @include displayMobile{
        min-height: 1rem;
        padding: $pad-L2;
    }
    &:focus{
        border-color: $colPrimary-Black;
    }
    &--textArea{
        @include displayDesktop{
            min-height: 4rem ;
        }
        @include displayTablet{
            min-height: 4rem;
        }
        @include displayMobile{
            min-height: 5rem;
        }
    }
}

.type__inputButton{
    background-color: $colPrimary-Black;
    color: $colPrimary-White;
    border-color: $colPrimary-Black;
    border-radius: 4px;
    border-style: solid;
    height: 40px;
    font-family: 'Avenir-Demi';
    
    @include displayDesktop{
        font-size: 1rem;
        min-width: 150px;
        padding-left: $pad-L4;
        padding-right: $pad-L4;
    }
    @include displayTablet{
        font-size: 1rem;
        min-width: 150px;
        padding-left: $pad-L4;
        padding-right: $pad-L4;
    }
    @include displayMobile{
        font-size: 0.9rem;
        width: 100%;
    }
    &:hover{
        background-color: $colSecondary-DarkBlack;
        border-color: $colSecondary-DarkBlack;
        cursor:pointer;
    }
}

.type__actionButton{
    &:hover{
        animation: actionIconHover;
        animation-duration: 0.25s;
        animation-fill-mode: forwards;
        cursor:pointer;
    }
}

.type__commentsOutput{
    padding: 0px;
    margin: 0px;
    font-family: 'Avenir';
    @include displayDesktop{
        font-size: 0.875rem;
        line-height: 1.57;    
    }
    @include displayTablet{
        font-size: 0.875rem;
        line-height: 1.57;
    }
    @include displayMobile{
        font-size: 0.8125rem;
        line-height: 1.38;
    }
    &--name{
        font-family: 'Avenir-Demi';
        color: $colPrimary-Black;
    }
    &--date{
        color: $colPrimary-Silver;
    }
    &--comment{
        color: $colPrimary-Black;
    }
}
