@use 'anims' as *;
@use 'colors' as *;
@use 'displays' as *;
@use 'typekit' as *;
@use 'var' as *;

// *{
//     border: 1px dotted black;
// }

body{
    margin: 0px;
    padding: 0px;
}

html{
    margin: 0px;
    padding: 0px;
}

.head{
    background-color: $colPrimary-Black;
    color: $colPrimary-White;
    padding-left: $pad-L4;
    padding-right: $pad-L4;
    display: flex;
    margin: 0px;
    

    @include displayDesktop{
        flex-direction: row;
        flex-wrap: wrap;
    }

    @include displayTablet{
        flex-direction: row;
        flex-wrap: wrap;
    }

    @include displayMobile{
        flex-direction: column;
    }
    
    &__logo{
        text-align: center;

        &__image{
            margin-top: 24px;
            margin-bottom: 24px;
            width: 180px;
        }
    }
    &__nav{       
        @include displayDesktop{
            padding-left: $pad-desktop-between;
            flex-grow: 0.25;
            align-self: baseline;
        }
    
        @include displayTablet{
            padding-left: $pad-tablet-between;
            flex-grow: 0.25;
            align-self: flex-end;
        }
    
        @include displayMobile{
            flex-grow: 0;

        }
        &__navbar{
            display: flex;
            justify-content: space-around;
            list-style: none;
            padding: 0px;
            margin: 0px;
            &__item{  
                text-align: center;
                margin: 0px;
                padding: 0px 0px 20px 0px;
                flex-grow: 1;
                &--active{
                    border-bottom: 5px solid;
                }
            }
        }
    }
}

.hero{
        height: 300px;
        color: $colPrimary-White;
        padding-left: $pad-L4;
        padding-right: $pad-L4;
        margin: 0px;
        background-image: url("../assets/images/hero-bio.jpg");
        background-size: cover;
        background-position-y: -20px;
        display: flex;
        align-items: center;
        font-family: 'Avenir-Demi';
}


.footer{
    margin-top: $pad-mobile-between;
    padding-left: $pad-L4;
    padding-right: $pad-L4; 
    padding-top: $pad-mobile-header_before;
    padding-bottom: $pad-mobile-header_after;
    background-color: $colPrimary-Black;
    color: $colPrimary-White;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: $pad-mobile-between;
    gap: $pad-mobile-between;

    @include displayDesktop{
            flex-direction: row;
            flex-wrap: wrap;
        }
    
        @include displayTablet{
            flex-direction: row;
            flex-wrap: wrap;
        }
    
        @include displayMobile{
            flex-direction: column;
            flex-wrap: nowrap;
        }

    &__social{
        display: flex;
        column-gap: $pad-mobile-between;
        row-gap: $pad-mobile-between;
        
        @include displayDesktop{
            flex-direction: row;
            flex-wrap: wrap;
        }
    
        @include displayTablet{
            flex-direction: row;
            flex-wrap: wrap;
        }
    
        @include displayMobile{
            flex-direction: column;
            flex-wrap: nowrap;
        }

        &__title{
            background-color: none;
        }
        
        &__media{
            display: flex;
            align-items: center;
            gap: 40px;
            &__icon{
                height: 40px;
            }
        }
    }
        
    &__contactList{
        display: flex;
        @include displayDesktop{
            flex-wrap: nowrap;
            }
        
            @include displayTablet{
                flex-wrap: nowrap;
            }
        
            @include displayMobile{
                flex-wrap: wrap;
            }

        &__contact{
            flex-grow: 1;
        }
    }
    
    &__logo{
        @include displayDesktop{
                order:0;
            }
        
            @include displayTablet{
                order:0;
            }
        
            @include displayMobile{
                order:1;
            }
        &__image{
            width: 180px;
            padding: 0px;
        }
    }
    
    &__copyright{
        flex-basis: 100%;
        padding: 0px;
        margin: 0px;
        order: 2;
    }
}