@use 'anims' as *;
@use 'colors' as *;
@use 'displays' as *;
@use 'typekit' as *;
@use 'var' as *;

// *{
//     border: 1px dotted black;
// }

body{
    margin: 0px;
    padding: 0px;
}

html{
    margin: 0px;
    padding: 0px;
}

.head{
    background-color: $colPrimary-Black;
    color: $colPrimary-White;
    display: flex;
    margin: 0px;
    
    @include displayDesktop{
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: $pad-L9;
        padding-right: $pad-L9;
    }
    @include displayTablet{
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: $pad-L6;
        padding-right: $pad-L6;
    }
    @include displayMobile{
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    &__logo{
        text-align: center;
        &__image{
            margin-top: 24px;
            margin-bottom: 24px;
            width: 180px;
        }
    }
    &__nav{      

        @include displayDesktop{
            padding-left: $pad-desktop-between;
            flex-grow: 0.25;
            align-self: flex-end;
        }
        @include displayTablet{
            padding-left: $pad-tablet-between;
            flex-grow: 0.25;
            align-self: flex-end;
        }
        @include displayMobile{
            flex-grow: 0;
        }

        &__navbar{
            display: flex;
            justify-content: space-around;
            list-style: none;
            padding: 0px;
            margin: 0px;
            &__item{  
                text-align: center;
                margin: 0px;
                padding: 0px 0px 20px 0px;
                flex-grow: 1;
                &--active{
                    border-bottom: 5px solid;
                }
            }
        }
    }
}

.hero{
        height: 55vw;
        color: $colPrimary-White;
        margin: 0px;
        background-image: url("../assets/images/hero-bio.jpg"), linear-gradient(#32323280, #32323280);
        background-blend-mode:overlay;
        background-size: cover;
        background-position-y: -20px;
        display: flex;
        align-items: center;
        @include paddingsL9L6L3;
        &__bandTitle{
            font-family: 'Avenir-Demi';
            padding: 0px;
            margin: 0px;
        }
}


.footer{
    margin-top: $pad-mobile-between;
    padding-top: $pad-mobile-header_before;
    padding-bottom: $pad-mobile-header_after;
    background-color: $colPrimary-Black;
    color: $colPrimary-White;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include paddingsL9L4L3;
    
    @include displayDesktop{
        row-gap: $pad-desktop-between;
        gap: $pad-desktop-between;
        flex-direction: row;
        flex-wrap: wrap;
     }
     @include displayTablet{
        row-gap: $pad-tablet-between;
        gap: $pad-tablet-between;
        flex-direction: row;
        flex-wrap: wrap;
     }
     @include displayMobile{
        row-gap: $pad-mobile-between;
        gap: $pad-mobile-between;
        flex-direction: column;
        flex-wrap: nowrap;
     }

    &__social{
        display: flex;

        @include displayDesktop{
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: $pad-desktop-between;
            row-gap: $pad-desktop-between;
        }
        @include displayTablet{
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: $pad-tablet-between;
            row-gap: $pad-tablet-between;
        }
        @include displayMobile{
            flex-direction: column;
            flex-wrap: nowrap;
            column-gap: $pad-mobile-between;
            row-gap: $pad-mobile-between;
        }

        &__title{
            background-color: none;
        }
        
        &__media{
            display: flex;
            align-items: center;
            gap: 30px;
            &__icon{
                height: 25px;
            }
        }
    }
        
    &__contactList{
        display: flex;
        justify-content: flex-start;
        
        @include displayDesktop{
                flex-wrap: nowrap;
                gap: $pad-desktop-between;
                flex-basis: 100%
            }
        
        @include displayTablet{
                flex-wrap: nowrap;
                gap: $pad-desktop-between;
                flex-basis: 100%           
            }
        
        @include displayMobile{
                flex-wrap: wrap;
                gap: $pad-mobile-between;
            }

        &__contact{
            background-color: none;
        }
    }
    
    &__logo{
        @include displayDesktop{
                order:0;
            }
            @include displayTablet{
                order:0;
            }
            @include displayMobile{
                order:1;
                padding-top: $pad-mobile-header_before;
            }
        &__image{
            padding-top: 0px;

            @include displayDesktop{
                width: 120px;
            }
        
            @include displayTablet{
                width: 120px;
            }
        
            @include displayMobile{
                width: 120px;
            }
            
        }
    }
    &__copyright{
        flex-basis: 100%;
        padding: 0px;
        margin: 0px;
        order: 2;
    }
}