@use 'displays' as *;


h1{

    @include displayDesktop{
        font-size: 3.75rem;
        font-weight: 700;
    }

    @include displayTablet{
        font-size: 3.75rem;
        font-weight: 700;
    }

    @include displayMobile{
        font-size: 1.5rem;
        font-weight: 700;
    }
}

h2{

    @include displayDesktop{
        font-size: 2.25rem;
        font-weight: 700;
    }

    @include displayTablet{
        font-size: 2.25rem;
        font-weight: 700;
    }

    @include displayMobile{
        font-size: 1.5rem;
        font-weight: 700;
    }
}

h3{
    @include displayDesktop{
        font-size: 1.5rem;
        font-weight: 600;
    }

    @include displayTablet{
        font-size: 1.5rem;
        font-weight: 600;
    }

    @include displayMobile{
        font-size: 0.875rem;
        font-weight: 600;
    }
}