@use 'displays' as *;
@use 'var' as *;
@use 'colors' as *;

@font-face{
    font-family: 'Avenir';
    src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format('openType');
}

@font-face{
    font-family: 'Avenir-Bold';
    src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format('openType');
}
@font-face{
    font-family: 'Avenir-Demi';
    src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format('openType');
}

:root {
    font-family: 'Avenir';
    //font-size: 20px;
}


.type__siteTitle{
    padding-left: $pad-L4;
    padding-right: $pad-L4;
    font-weight: 400;
    //color: orange;

    @include displayDesktop{
        font-size: 3.75rem;
        font-family: 'Avenir';
        line-height: 1.13;
    }

    @include displayTablet{
        font-size: 3.75rem;
        font-family: 'Avenir';
        line-height: 1.13;
    }

    @include displayMobile{
        font-size: 1.5rem;
        font-family: 'Avenir';
        line-height: 1.33;
    }
}

.type__pageHeader{
    padding-left: $pad-L4;
    padding-right: $pad-L4;
    //color:blue;

    @include displayDesktop{
        font-size: 3.75rem;
        font-family: 'Avenir-Demi';
        line-height: 1.13;
        padding-top: $pad-desktop-header_before;
        padding-bottom: $pad-desktop-header_after;
    }

    @include displayTablet{
        font-size: 3.75rem;
        font-family: 'Avenir-Demi';
        line-height: 1.13;
        padding-top: $pad-tablet-header_before;
        padding-bottom: $pad-tablet-header_after;
    }

    @include displayMobile{
        font-size: 1.5rem;
        font-family: 'Avenir-Demi';
        line-height: 1.33;
        padding-top: $pad-mobile-header_before;
        padding-bottom: $pad-mobile-header_after;
    }
    &--footer{
        padding: 0px;
        margin: 0px;
    }
}

.type__sectionHeader{

    padding-left: $pad-L4;
    padding-right: $pad-L4;

    @include displayDesktop{
        font-size: 2.25rem;
        font-family: 'Avenir-Demi';
        line-height: 1.22;
        padding-top: $pad-desktop-header_before;
        padding-bottom: $pad-desktop-header_after;
    }

    @include displayTablet{
        font-size: 2.25rem;
        font-family: 'Avenir-Demi';
        line-height: 1.22;
        padding-top: $pad-tablet-header_before;
        padding-bottom: $pad-tablet-header_after;
    }

    @include displayMobile{
        font-size: 1.5rem;
        font-family: 'Avenir-Demi';
        line-height: 1.33;
        padding-top: $pad-mobile-header_before;
        padding-bottom: $pad-mobile-header_after;
    }

    &--footer{
        padding: 0px;
        margin: 0px;
    }
}

.type__subHeader{
    padding-left: $pad-L4;
    padding-right: $pad-L4;
    //color:green;

    @include displayDesktop{
        font-size: 1.5rem;
        font-family: 'Avenir-Demi';
        line-height: 1.33;
        padding-top: $pad-desktop-header_before;
        padding-bottom: $pad-desktop-header_after;
    }

    @include displayTablet{
        font-size: 1.5rem;
        font-family: 'Avenir-Demi';
        line-height: 1.33;
        padding-top: $pad-tablet-header_before;
        padding-bottom: $pad-tablet-header_after;
    }

    @include displayMobile{
        font-size: 0.875rem;
        font-family: 'Avenir-Demi';
        line-height: 1.57;
        padding-top: $pad-mobile-header_before;
        padding-bottom: $pad-mobile-header_after;
    }

    &--footer{
        padding: 0px;
        margin: 0px;
    }
}

.type__bodyText {
    padding-left: $pad-L4;
    padding-right: $pad-L4;

    @include displayDesktop{
        font-size: 0.875rem;
        line-height: 1.57;
        font-family: 'Avenir';
    }

    @include displayTablet{
        font-size: 0.875rem;
        line-height: 1.57;
        font-family: 'Avenir';
    }

    @include displayMobile{
        font-size: 0.8125rem;
        line-height: 1.38;
        font-family: 'Avenir';
    }
}

.type__footerText {
    margin-bottom: 0px;
    
    @include displayDesktop{
        font-size: 0.875rem;
        line-height: 1.42;
        font-family: 'Avenir';
    }

    @include displayTablet{
        font-size: 0.875rem;
        line-height: 1.42;
        font-family: 'Avenir';
    }

    @include displayMobile{
        font-size: 0.8125rem;
        line-height: 1.38;
        font-family: 'Avenir';
    }
}

.type__label{
    @include displayDesktop{
        font-size: 0.75rem;
        line-height: 0.6;
        font-family: 'Avenir';
    }
    @include displayTablet{
        font-size: 0.75rem;
        line-height: 0.6;
        font-family: 'Avenir';
    }
    @include displayMobile{
        font-size: 0.625rem;
        line-height: 2;
        font-family: 'Avenir';
    }
    
}