$pad-L1: 4px;
$pad-L2: 8px;
$pad-L3: 16px;
$pad-L4: 32px;
$pad-L5: 40px;
$pad-L6: 48px;
$pad-L7: 56px;
$pad-L8: 64px;
$pad-L9: 80px;

$pad-desktop-header_before: 48px;
$pad-desktop-header_after: 36px;
$pad-desktop-between: 36px;

$pad-tablet-header_before: 48px;
$pad-tablet-header_after: 36px;
$pad-tablet-between: 36px;

$pad-mobile-header_before: 24px;
$pad-mobile-header_after: 16px;
$pad-mobile-between: 16px;

$grid-desktop-gutter: 24px;
$grid-desktop-column: 63px;
$grid-desktop-margin: auto;

$grid-tablet-gutter: 24px;
$grid-tablet-column: auto;
$grid-tablet-margin: 36px;

$grid-mobile-gutter: 16px;
$grid-mobile-column: auto;
$grid-mobile-margin: 36px;