@use 'displays' as *;

$pad-L1: 4px;
$pad-L2: 8px;
$pad-L3: 16px;
$pad-L3a: 18px;
$pad-L3b: 24px;
$pad-L4: 32px;
$pad-L5: 40px;
$pad-L6: 48px;
$pad-L7: 56px;
$pad-L8: 64px;
$pad-L9: 80px;
$pad-L10: 88px;
$pad-L11: 96px;
$pad-L12: 104px;
$pad-L13: 112px;
$pad-L14: 120px;


$pad-desktop-header_before: 36px;
$pad-desktop-header_after: 24px;
$pad-desktop-between: 24px;

$pad-tablet-header_before: 24px;
$pad-tablet-header_after: 16px;
$pad-tablet-between: 24px;

$pad-mobile-header_before: 24px;
$pad-mobile-header_after: 16px;
$pad-mobile-between: 16px;

$grid-desktop-gutter: 24px;
$grid-desktop-margin: 36px;

$grid-tablet-gutter: 24px;
$grid-tablet-margin: 36px;

$grid-mobile-gutter: 16px;
$grid-mobile-margin: 36px;


@mixin commentSpacing{
    @media (min-width: $breakpoint-desktop-s){
        gap: $grid-desktop-gutter;
    }

    @media (min-width: $breakpoint-tablet-s) and (max-width: $breakpoint-tablet-e){
        gap: $grid-tablet-gutter;
    }
    
    @media (min-width: $breakpoint-mobile-s) and (max-width:$breakpoint-mobile-e){
        gap: $grid-mobile-gutter;
    }
}


@mixin avatarSizes{
    @media (min-width: $breakpoint-desktop-s){
        width:  48px;
        height: 48px;
    }

    @media (min-width: $breakpoint-tablet-s) and (max-width: $breakpoint-tablet-e){
        width:  48px;
        height: 48px;
    }
    
    @media (min-width: $breakpoint-mobile-s) and (max-width:$breakpoint-mobile-e){
        width:  36px;
        height: 36px;
    }
}


@mixin marginsL10L9L3{

    @media (min-width: $breakpoint-desktop-s){
        margin-left: 17%;
        margin-right: 17%;
    }

    @media (min-width: $breakpoint-tablet-s) and (max-width: $breakpoint-tablet-e){
        margin-left: $pad-L9;
        margin-right: $pad-L9;
    }
    
    @media (min-width: $breakpoint-mobile-s) and (max-width:$breakpoint-mobile-e){
        margin-left: $pad-L3;
        margin-right: $pad-L3;
    }
}


@mixin marginsL9L9L3{

    @media (min-width: $breakpoint-desktop-s){
        margin-left: 10%;
        margin-right: 10%;
    }

    @media (min-width: $breakpoint-tablet-s) and (max-width: $breakpoint-tablet-e){
        margin-left: $pad-L9;
        margin-right: $pad-L9;
    }
    
    @media (min-width: $breakpoint-mobile-s) and (max-width:$breakpoint-mobile-e){
        margin-left: $pad-L3;
        margin-right: $pad-L3;
    }
}


@mixin marginsL9L6L3{

    @media (min-width: $breakpoint-desktop-s){
        margin-left: 10%;
        margin-right: 10%;
    }

    @media (min-width: $breakpoint-tablet-s) and (max-width: $breakpoint-tablet-e){
        margin-left: $pad-L6;
        margin-right: $pad-L6;
    }
    
    @media (min-width: $breakpoint-mobile-s) and (max-width:$breakpoint-mobile-e){
        margin-left: $pad-L3;
        margin-right: $pad-L3;
    }
}

@mixin paddingsL9L6L3{

    @media (min-width: $breakpoint-desktop-s){
        padding-left: $pad-L14;
        padding-right: $pad-L14;
    }

    @media (min-width: $breakpoint-tablet-s) and (max-width: $breakpoint-tablet-e){
        padding-left: $pad-L6;
        padding-right: $pad-L6;
    }
    
    @media (min-width: $breakpoint-mobile-s) and (max-width:$breakpoint-mobile-e){
        padding-left: $pad-L3;
        padding-right: $pad-L3;
    }
}

@mixin paddingsL9L4L3{

    @media (min-width: $breakpoint-desktop-s){
        padding-left: $pad-L14;
        padding-right: $pad-L14;
    }

    @media (min-width: $breakpoint-tablet-s) and (max-width: $breakpoint-tablet-e){
        padding-left: $pad-L4;
        padding-right: $pad-L4;
    }
    
    @media (min-width: $breakpoint-mobile-s) and (max-width:$breakpoint-mobile-e){
        padding-left: $pad-L3;
        padding-right: $pad-L3;
    }
}
