//display breakpoints
$breakpoint-desktop-s: 1280px;
$breakpoint-tablet-s: 768px;
$breakpoint-tablet-e: 1279px;
$breakpoint-mobile-s: 0px;
$breakpoint-mobile-e: 767px;


//Standard padding levels based on style guide and mockup guesstimations
$pad-L1: 4px;
$pad-L2: 8px;
$pad-L3: 16px;
$pad-L3a: 18px;
$pad-L3b: 24px;
$pad-L4: 32px;
$pad-L5: 40px;
$pad-L6: 48px;
$pad-L7: 56px;
$pad-L8: 64px;
$pad-L9: 80px;
$pad-L10: 88px;
$pad-L11: 96px;
$pad-L12: 104px;
$pad-L13: 112px;
$pad-L14: 120px;

//Standard spacings based on style guide and mockup guesstimations
$pad-desktop-header_before: 36px;
$pad-desktop-header_after: 24px;
$pad-desktop-between: 24px;

$pad-tablet-header_before: 24px;
$pad-tablet-header_after: 16px;
$pad-tablet-between: 24px;

$pad-mobile-header_before: 24px;
$pad-mobile-header_after: 16px;
$pad-mobile-between: 16px;

$grid-desktop-gutter: 24px;
$grid-desktop-margin: 36px;

$grid-tablet-gutter: 24px;
$grid-tablet-margin: 36px;

$grid-mobile-gutter: 16px;
$grid-mobile-margin: 36px;




